@import "https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins&family=Raleway:wght@300&display=swap";

:root {
    --primary-color: #342065;
    --secondary-color: #533185;
    --color3:#6b3c8d;
    --color4:#8c18b0;
    --color5:#000;
    --color6:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper_loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 100;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--primary-color) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

.title {
    font-size: 20px
}

.all_wrapper {
    display: flex
}

.all_wrapper .contendor_imagen_planta {
    position: fixed
}

.all_wrapper .contendor_imagen_planta_1 {
    bottom: 0;
    left: 0
}

.all_wrapper .contendor_imagen_planta_1 .z-image {
    width: 150px
}

.all_wrapper .contendor_imagen_planta_2 {
    bottom: 0;
    right: 0
}

.all_wrapper .contendor_imagen_planta_2 .z-image {
    width: 150px
}

.all_wrapper .container_landing {
    position: absolute;
    padding: 15px;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center
}

.all_wrapper .container_landing .contendor_signin {
    margin: auto auto auto auto;
    display: 100%;
    display: flex;
    flex-direction: column
}

.all_wrapper .container_landing .contendor_signin .contendor_imagen_nube {
    width: 50%;
    margin: auto;
    margin-top: -20px;
    margin-bottom: 20px
}

.all_wrapper .container_landing .contendor_signin .contendor_imagen_nube img {
    width: 100%;
    display: block
}

.all_wrapper .container_landing .contendor_signin .info_login {
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    box-shadow: 0 2px 0 2px rgba(0, 0, 0, .2);
    color: #5e5e5e;
    padding: 30px 40px 30px 40px
}

.all_wrapper .container_landing .contendor_signin .info_login .title {
    font-size: 20px;
    display: block;
    margin-bottom: 10px
}

.all_wrapper .container_landing .contendor_signin .info_login .subtitle {
    font-size: 14px;
    display: block
}

.all_wrapper .container_landing .contendor_signin .info_login .subtitle .item_nav {
    color: blue;
    cursor: pointer
}

.all_wrapper .container_landing .contendor_signin .contendor_body {
    border-radius: 0px 0 20px 20px;
    background-color: #242424
}

.all_wrapper .container_landing .contendor_signin .contendor_body .forgot_password {
    cursor: pointer;
    display: block;
    padding: 100px
}

.all_wrapper .container_landing .contendor_signin .contendor_body .contendor_inputs {
    padding: 20px
}

.all_wrapper .container_landing .contendor_signin .contendor_body .contendor_inputs .contendor_input .input {
    border-radius: 20px;
    background-color: #242424;
    border-style: none;
    border: solid 1px #fff;
    width: 100%;
    padding: 10px 0px 10px 10px;
    margin-bottom: 10px;
    display: block
}

.all_wrapper .container_landing .contendor_signin .contendor_body .contendor_inputs .contendor_input .input::placeholder {
    color: #a2a2a2
}

.all_wrapper .container_landing .contendor_signin .contendor_body .forgot_password {
    padding: 0 20px 20px 20px;
    color: #a2a2a2
}

.all_wrapper .container_landing .contendor_imagen {
    width: 100%
}

.all_wrapper .container_landing .contendor_imagen .logo {
    width: 70%
}

.all_wrapper .container_landing .contendor_imagen .imgLogin {
    width: 100%
}

.all_wrapper .container_landing .contendor_signin .contendor_body .contenedor_button {
    padding: 0 20px 20px 20px;
    width: 50%;
    margin-left: auto;
    margin-right: 0
}

.all_wrapper .container_landing .contendor_signin .contendor_body .contenedor_button .btn {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #6b3c8d;
    color: #fff;
    border-radius: 10px;
    border: none
}

.all_wrapper .container_landing .contendor_signin .contendor_body .contenedor_button .btn:hover {
    background-color: var(--primary-color)
}

.all_wrapper .container_landing .contendor_imagen {
    width: 100%
}

.all_wrapper .container_landing .contendor_imagen .logo {
    width: 40%
}

.all_wrapper .container_landing .contendor_imagen .imgLogin {
    width: 90%
}


@media screen and (min-width: 769px) {
    .all_wrapper {
        margin: auto
    }

    .all_wrapper .container_landing {
        grid-template-columns: repeat(2, 1fr)
    }

    .all_wrapper .container_landing .contendor_signin {
        width: 80%
    }

    .all_wrapper .container_landing .contendor_imagen {
        width: 80%
    }

    .all_wrapper .container_landing .contendor_imagen img {
        display: block;
        width: 100%;
        color: #342065
    }
}

@media screen and (min-width: 1025px) {
    .all_wrapper {
        margin: auto
    }

    .all_wrapper .container_landing {
        grid-template-columns: repeat(2, 1fr)
    }

    .all_wrapper .container_landing .contendor_signin {
        width: 65%
    }
}

/*# sourceMappingURL=styles.css.map */

.all_wrapper .container_landing .contendor_signin .contendor_body .contendor_inputs {
    padding: 20px
}

.all_wrapper .container_landing .contendor_signin .contendor_body .contendor_inputs .contendor_input .input {
    border-radius: 20px;
    background-color: #242424;
    border-style: none;
    border: solid 1px #fff;
    width: 100%;
    padding: 10px 0px 10px 10px;
    margin-bottom: 10px;
    display: block
}

.all_wrapper .container_landing .contendor_signin .contendor_body .contendor_inputs .contendor_input .input::placeholder {
    color: #a2a2a2;

}

.z-window-modal{

    width: 100vw;
    top:0 !important;
    overflow: visible;
}

.z-window-modal .z-window-modal-tl,.z-window-modal .z-window-modal-hl,
.z-window-modal z-window-modal-cl-noborder z-window-modal-cm-noborder{
    display: none;
}



.z-window-modal-cnt-noborder{
    padding: 0;
}





.z-modal-mask{
    background: white;
    opacity: 1;
    box-sizing: border-box;
}

.z-window-modal-cnt-noborder .container_registro .wapper_registro
.all_wrapper .container_landing{
    margin-top:80px;
}

.z-window-modal-cnt-noborder .container_registro .wapper_registro
.all_wrapper .container_landing .contendor_signin .contendor_body
.wrapper_all_inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:10px;
}


.all_wrapper .container_landing .contendor_signin .contendor_body
.wrapper_all_inputs .contendor_input
{

    position: relative;
}


.all_wrapper .container_landing .contendor_signin .contendor_body .contenedor_button{

}


.all_wrapper .container_landing .contendor_signin .contendor_body .contenedor_button .btn{
    width: 100%;

}


.all_wrapper .container_landing .contendor_signin .contendor_body
.contendor_input .icon
{
    color: var(--secondary-color);
    position: absolute;
    left:12px;
    top:20%;
}


.all_wrapper .container_landing .contendor_signin .contendor_body
.contendor_input input
{
    box-sizing: border-box;
    color: white;
    width: 100%;
    color: white;
    padding: 10px 10px 10px 40px !important;

}


.all_wrapper .container_landing .contendor_signin .contendor_body
.contendor_input .icon_eye
{
    left: unset;
    right: 12px;
}

.z-window-modal-cnt-noborder .container_registro .wapper_registro .menu{

    width:100%;
    position: fixed;
    padding: 20px;
    background: linear-gradient(90deg, rgba(52,32,101,1) 0%, rgba(83,49,133,1) 53%, rgba(107,60,141,1) 100%);
    z-index: 100;
    color: white;
}

.z-window-modal-cnt-noborder .container_registro .wapper_registro
.all_wrapper .container_landing  .contendor_imagen{
    margin: auto;
    width: 60%;
}

.z-window-modal-cnt-noborder .container_registro .wapper_registro
.all_wrapper .container_landing .contendor_signin .contendor_body
.contendor_forgot{

    grid-template-columns: repeat(1, 1fr) !important;

}

.z-window-modal-cnt-noborder .container_registro .wapper_registro
.all_wrapper .container_landing .contendor_signin .contendor_body
.wrapper_all_inputs {
    grid-template-columns: repeat(1, 1fr) !important;
}